.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width: max(10%,80px);
}

.navbar .profile{
    border-radius: 50%;
    width: 50px;
}