.food-display {
    margin-top: 0px;
}

.food-display h2 {
    font-size: max(2vw, 24px);
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 41%;
}

.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 30px;
    row-gap: 30px;
}

@media (max-width: 768px) {
    .food-display h2 {
        margin-left: 0;
        text-align: center;
    }
}
