/* Search specific styles */
.search-container {
  padding: 20px;
}

.search-input {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 15px;
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: tomato;
}

/* Modified FoodDisplay Styles */
.food-display {
  margin-top: 0px;
}

.food-display h2 {
  font-size: max(2vw, 24px);
  font-weight: 600;
  margin-bottom: 20px;
  margin-left: 41%;
  /* Centers the title horizontally */
}

.food-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* Responsive grid layout */
  gap: 20px;
  margin-top: 30px;
  row-gap: 30px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .food-display h2 {
    margin-left: 0;
    text-align: center;
    /* Center the title for smaller screens */
  }
}
